@font-face {
  font-family: Myriad Pro;
  font-style: normal;
  src: url(/psd/fonts/myraid.otf);
}
.BG {
  width: 1100px;
  height: 2000px;
  margin: 2px 0 0;
  padding: 100px 67px 535px 63px;
}
.blackBg {
  width: 1100px;
  height: 135px;
  padding: 43px 70px 36px;
  background-color: #333333;
}
.designStudios {
  width: 337px;
  height: 56px;
  margin: 43px 70px 0px 36px;
  font-family: Myriad Pro;
  font-size: 60px;
  line-height: 0.27;
  letter-spacing: -2.4px;
  position: absolute;
  color: #eeeeee;
}
.headerText {
  width: 411px;
  height: 13px;
  position: absolute;
  margin-left: 750px;
  padding-right: 70px;
  margin-top: 45px;
  font-family: Myriad Pro;
  font-size: 18px;
  line-height: 2.63;
  letter-spacing: -0.64px;
  text-align: left;
  color: #eeeeee;
  line-height: 42px;
}
.Clean-Professional-Web-Design {
  width: 801px;
  height: 56px;
  margin-left: 80px;
  margin-top: 75px;
  font-family: Myriad Pro;
  font-size: 60px;
  font-weight: bold;
  line-height: 0.27;
  letter-spacing: -2.4px;
  text-align: left;
  color: #333333;
}
.spanSumbol1 {
  color: #00bff3;
}
.providing {
  width: 710px;
  height: 47px;
  margin-left: 80px;
  margin-top: 5px;
  font-family: Myriad Pro;
  font-size: 50px;
  line-height: 0.32;
  letter-spacing: -2px;
  text-align: left;
  color: #bbbbbb;
}
.brOne {
  width: 966px;
  height: 5px;
  margin: 4px 253px 31px 7px;
  font-family: Myriad Pro;
  font-size: 30px;
  line-height: 0.53;
  letter-spacing: -1.2px;
  text-align: left;
  color: #cccccc;
}

.weProvide {
  width: 960px;
  height: 116px;
  margin-top: 33px;
  margin-left: 80px;
  font-family: Myriad Pro;
  font-size: 34px;
  line-height: 1.24;
  letter-spacing: -1.36px;
  text-align: left;
  color: #555555;
  padding-bottom: 56px;
}
.weProvideBr {
  font-weight: bold;
}
.brTwo {
  width: 966px;
  height: 5px;
  margin-top: 10px;
  font-family: Myriad Pro;
  font-size: 30px;
  line-height: 0.53;
  letter-spacing: -1.2px;
  text-align: left;
  color: #cccccc;
}
.contentBg {
  width: 293px;
  height: 351px;
  margin-top: 65px;
  margin-left: 80px;
  box-shadow: 2.5px 4.3px 5px 0 rgba(170, 170, 170, 0.75);
  background-color: #00aeef;
  display: inline-flex;
}
.webDesign {
  position: absolute;
  z-index: 9999;
  margin-top: 90px;
  margin-left: 120px;
  font-size: 40px;
  font-family: Myriad Pro;
  line-height: 1;
  letter-spacing: -1.6px;
  color: white;
}
.wbDes {
  margin-left: 20px;
}
.wbText {
  width: 227px;
  height: 139px;
  margin-top: 40px;
  margin-left: -10px;
  font-family: Arial;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  position: absolute;
  color: #fff;
}

.wbLine {
  width: 237px;
  height: 3px;
  margin-top: 10px;
  margin-left: -20px;
  font-family: Myriad Pro;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -1.5px;
  text-align: center;
  position: absolute;
  color: #ffffff;
}
.webDesignBut {
  margin-top: 260px;
  margin-left: -195px;
  position: absolute;
  width: 232px;
  height: 41px;
  background-color: #0076a3;
  outline: none;
}

.buttonSpan {
  width: 156px;
  height: 14px;
  font-family: Myriad Pro;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.72px;
  text-align: center;
  color: #ffffff;
}
.marketingCon {
  width: 293px;
  height: 351px;
  position: absolute;
  margin-top: 65px;
  margin-left: 470px;

  box-shadow: 2.5px 4.3px 5px 0 rgba(170, 170, 170, 0.75);
  background-color: #00aeef;
}

.marketing {
  width: 155px;
  height: 38px;
  position: absolute;
  margin-top: 30px;
  margin-left: 50px;
  font-family: Myriad Pro;
  font-size: 40px;
  line-height: 1;
  letter-spacing: -1.6px;
  text-align: center;
  color: #ffffff;
}
.marketingLine {
  width: 237px;
  height: 3px;
  margin-top: 75px;
  margin-left: 20px;
  font-family: Myriad Pro;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -1.5px;
  text-align: center;
  position: absolute;
  color: #ffffff;
}
.marketingText {
  width: 227px;
  height: 139px;
  margin-top: 105px;
  margin-left: 30px;
  font-family: Arial;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  position: absolute;
  color: #fff;
}
.markBut {
  margin-top: 53px;
  margin-left: -220px;
  position: absolute;
  width: 232px;
  height: 41px;
  background-color: #0076a3;
  outline: none;
}
.optiCont {
  width: 293px;
  height: 351px;
  margin-top: -351px;
  margin-left: 857px;
  box-shadow: 2.5px 4.3px 5px 0 rgba(170, 170, 170, 0.75);
  background-color: #00aeef;
}

.opti {
  width: 192px;
  height: 35px;
  margin-top: 25px;
  margin-left: 40px;
  font-family: Myriad Pro;
  font-size: 40px;
  line-height: 1;
  letter-spacing: -1.6px;
  text-align: center;
  position: absolute;
  color: #ffffff;
}
.optiLine {
  width: 237px;
  height: 3px;
  margin-top: 70px;
  margin-left: 30px;
  font-family: Myriad Pro;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -1.5px;
  text-align: center;
  position: absolute;
  color: #ffffff;
}
.optiText {
  width: 227px;
  height: 139px;
  margin-top: 105px;
  margin-left: 30px;
  font-family: Arial;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  position: absolute;
  color: #fff;
}
.optiBut {
  margin-top: 50px;
  margin-left: -220px;
  position: absolute;
  width: 232px;
  height: 41px;
  background-color: #0076a3;
  outline: none;
}
.newDivTwo {
  width: 966px;
  height: 5px;
  margin: 34px 253px 31px 7px;
  font-family: Myriad Pro;
  font-size: 30px;
  line-height: 0.53;
  letter-spacing: -1.2px;
  text-align: left;
  color: #cccccc;
}

.lastOneSpan {
  width: 170px;
  height: 18px;
  margin: 36px 170px 23px 6px;
  font-family: Myriad Pro;
  font-size: 24px;
  line-height: 1.75;
  letter-spacing: -0.96px;
  text-align: left;
  color: #555555;
}
.author-bg {
  width: 84px;
  height: 84px;
  margin: 25px 27px 38px 6px;
  background-color: #cccccc;
}
.autorBgText {
  width: 338px;
  height: 34px;
  position: absolute;
  font-family: Arial;
  font-size: 14px;
  margin-left: 120px;
  line-height: 1.5;

  color: #555555;
}
.autorDesign {
  width: 119px;
  height: 20px;
  position: absolute;
  margin-top: 50px;
  margin-left: 120px;
  font-family: Arial;
  font-size: 14px;
  line-height: 1.29;
  text-align: left;
  color: #00aeef;
}
.sarah {
  color: black;
}
.autor-bgTwo {
  width: 84px;
  height: 84px;
  margin: 37px 26px 33px 7px;
  background-color: #cccccc;
}
.autorBgTwoText {
  width: 335px;
  height: 35px;
  position: absolute;
  margin-top: 0px;
  margin-left: 120px;
  font-family: Arial;
  font-size: 14px;
  line-height: 1.5;

  text-align: left;
  color: #555555;
}
.autorKate {
  width: 117px;
  height: 30px;
  position: absolute;
  margin-top: 50px;
  margin-left: 120px;
  font-family: Arial;
  font-size: 14px;
  line-height: 1.29;

  text-align: left;
  color: #00aeef;
}
.kate {
  color: black;
}
.autorDave {
  width: 131px;
  height: 20px;
  position: absolute;
  margin-top: 50px;
  margin-left: 120px;
  font-family: Arial;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: left;
  color: #00aeef;
}
.dave {
  color: black;
}
.lasFour {
  width: 4px;
  height: 385px;
  position: absolute;
  margin-top: -605px;
  margin-left: 370px;
  font-family: Myriad Pro;
  font-size: 20px;
  transform: rotate(90deg);
  color: #cccccc;
}
.lastDiv {
  width: 501px;
  height: 400px;
  position: absolute;
  margin-left: 650px;
  margin-top: -420px;
}
.featuredProject {
  width: 150px;
  height: 22px;
  margin-left: 20px;
  font-family: Myriad Pro;
  font-size: 24px;
  line-height: 1.75;
  letter-spacing: -0.96px;
  text-align: left;
  color: #555555;
}
.yoshi {
  width: 302px;
  height: 20px;
  margin-top: 30px;
  margin-left: 20px;
  font-family: Arial;
  font-size: 20px;
  line-height: 0.8;
  text-align: left;
  color: #888888;
}
.yoshiCont {
  width: 427px;
  height: 55px;
  margin-top: 230px;
  margin-left: 20px;
  font-family: Arial;
  font-size: 14px;
  line-height: 1.5;
  text-align: left;
  color: #555555;
}
.picYoshi {
  position: absolute;
  width: 430px;
  height: 206px;
  margin-top: 10px;
  margin-left: 20px;
  box-shadow: 2.5px 4.3px 5px 0 rgba(204, 204, 204, 0.75);
}
.link {
  width: 200px;
  height: 12px;
  position: absolute;
  margin-top: 10px;
  margin-left: 20px;
  font-family: Arial;
  font-size: 14px;
  line-height: 1.43;
  text-align: left;
  color: #00aeef;
}
.lastLine {
  width: 966px;
  height: 5px;
  margin: 32px 3px 18px 1px;
  font-family: Myriad Pro;
  font-size: 30px;
  line-height: 0.53;
  letter-spacing: -1.2px;
  text-align: left;
  color: #cccccc;
}
.lastText {
  width: 374px;
  height: 16px;
  margin: 38px 111px 0 0;
  font-family: Arial;
  font-size: 16px;
  line-height: 1;
  letter-spacing: -0.64px;
  text-align: left;
  color: #888888;
}
